@import "tailwindcss";
@plugin "daisyui";

.active {
   color: #2563EB; 
  font-weight: 600;
}

.btn-p {
  @apply bg-blue-600  hover:bg-[#374151] text-white font-semibold px-6 py-3 rounded-full shadow-md hover:shadow-lg transition duration-300;
}
.btn-banner {
  @apply bg-blue-600  hover:bg-[#374151] text-white font-semibold px-6 py-3 rounded-full shadow-md hover:shadow-lg transition duration-300;
}




[data-theme="light"] {
  /* light theme styles */
  background-color: white;
  color: black;
}

[data-theme="synthwave"] {
  /* synthwave theme styles */
  background-color: black;
  color: white;
}