@import "tailwindcss";
@plugin "daisyui";



/* navlink active */

.active {
   color: #2563EB; 
  font-weight: 600;
}


/* custom color  */

.btn-p {
  @apply bg-blue-600  hover:bg-[#374151] text-white font-semibold px-6 py-3 rounded-full shadow-md hover:shadow-lg transition duration-300;
}
.btn-banner {
  @apply bg-blue-600  hover:bg-[#374151] text-white font-semibold px-6 py-3 rounded-full shadow-md hover:shadow-lg transition duration-300;
}



/* dark theme  */

[data-theme="light"] {
  /* light theme styles */
  background-color: white;
  color: black;
}

[data-theme="synthwave"] {
  /* synthwave theme styles */
  background-color: black;
  color: white;
}


/* footer  3 lottie icon dark mode -> black to white */

[data-theme="synthwave"] .lottie-icon {
  filter: invert(1) brightness(2) saturate(3);
}





/* custom google fonts */

.heading {
  font-family: 'Playfair Display', serif;

}

.description {
  font-family: 'Source Sans 3', sans-serif;
}